
  <!-- Footer -->
  <footer class="back  text-center text-white  text-lg-start">
    <!-- Section: Social media -->
    <section>
      <!--class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">-->
      <!-- Left -->
      <!-- Left -->
  
      <!-- Right -->
      <div class="d-flex justify-content-center justify-content p-4 border-bottom">
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
             <!-- Content -->
             <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4 text-white">
                  Developed By
                </h6>
                <p>
                  <a  routerLink="/competitions" class="text-reset">Amrinder Singh</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Ankita Mishra</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Mayank Khari</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Ritik Kaushik</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Somashree Bhattacharya</a>
                </p>
              </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-white">
              About
            </h6>
            <p>
              <a href="#!" class="text-reset ">Carrers</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Contact</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help Center</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-white ">
              Legal
            </h6>
            <p>
              <a href="#!" class="text-reset">Imprint</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Privacy Policy</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Term and Conditions</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Privay Settings</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-white">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i>Home</p>
            <p><i class="fas fa-phone me-3"></i>180001201</p>
            <p><i class="fas fa-print me-3"></i>Print</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="">Team Hustlers</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->