<div  class="row">
  <div class="col-cs-12 ">
<form (ngSubmit)="onSubmit()" class="main-form" #f="ngForm">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Company Id</label>
      <input type="text"
       class="form-control"
       ngModel
       name="companyId"
       [(ngModel)]="job.companyId"
       required
       #companyId="ngModel"
       />
       <span class="help-block" *ngIf="!companyId.valid && companyId.touched">Please Enter valid companyId</span>
      
    </div>
  
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Company Name</label>
        <input type="text"
         class="form-control"
         ngModel
         name="companyName"
         [(ngModel)]="job.companyName"
         #companyName="ngModel"
         required
         />
         <span class="help-block" *ngIf="!companyName.valid && companyName.touched">Please Enter valid Name</span>
        
      </div>


      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Job Description</label>
        <input type="text"
         class="form-control"
         ngModel
         name="jobDescription"
         [(ngModel)]="job.jobDescription"
         required
         #jobDescription="ngModel"
         />
         <span class="help-block" *ngIf="!jobDescription.valid && jobDescription.touched">Please Enter valid Description</span>
        
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Job Location</label>
        <input type="text"
         class="form-control"
         ngModel
         name="jobLocation"
         [(ngModel)]="job.jobLocation"
         required
         #jobLocation="ngModel"
         />
         <span class="help-block" *ngIf="!jobLocation.valid && jobLocation.touched">Please Enter valid Location</span>
       
      </div>


      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Job Role</label>
        <input type="text"
         class="form-control"
         ngModel
         name="jobRole"
         [(ngModel)]="job.jobRole"
         required
         #jobRole="ngModel"
         />
         <span class="help-block" *ngIf="!jobRole.valid && jobRole.touched">Please Enter valid Role</span>
        
      </div>


      <div class="form-outline mb-4">

        <label class="form-label" for="form2Example1">Job Title</label>
        <input type="text"
         class="form-control"
         ngModel
         name="jobTitle"
         [(ngModel)]="job.jobTitle"
         required
         #jobTitle="ngModel"
         />
         <span class="help-block" *ngIf="!jobTitle.valid && jobTitle.touched">Please Enter valid Title</span>
        
      </div>


      
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Salary</label>
        <input type="text"
         class="form-control"
         ngModel
         name="salary"
         [(ngModel)]="job.salary"
         required
         #salary="ngModel"
         />
         <span class="help-block" *ngIf="!salary.valid && salary.touched">Please Enter valid Salary</span>
        
      </div>

      
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Skills Required</label>
        <input type="text"
         class="form-control"
         ngModel
         name="skillsRequired"
         [(ngModel)]="job.skillsRequired"
         required
         #skillsRequired="ngModel"
         />
         <span class="help-block" *ngIf="!skillsRequired.valid && skillsRequired.touched">Please Enter valid Skills</span>
       
      </div>
  
    <!-- Submit button -->
    <div>
    <button type="submit" [disabled]="!f.valid" class="btn btn-primary btn-block mb-4">Add Job</button>
<!--
    <button type="button" class="btn btn-primary btn-block mb-4" (click)="getJobs()">Get Jobs</button>
    <button type="button" class="btn btn-primary btn-block mb-4" (click)="loadJobs()">Load Jobs</button>
    
-->
    </div>
  </form>
</div>

</div>


<!--

<div *ngFor="let job of jobbs">
  {{job.companyName}}
  {{job.companyId}}
  {{job.jobTitle}}
  {{job.jobDescription}}
  {{job.jobLocation}}
  {{job.salary}}
  {{job.skillsRequired}}
</div>




-->


